.client{
    width:250px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client_img
{
    width:70%;
    height:50%;

}
.card-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

@media only screen and (max-width:500px){
    .mobile_clients{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap:30px;
        align-items: center;
    }
}