/* .intro_ctn{
    width:100vw;
    height: 100vh;
} */
.intro{
    width:100vw;
    height:100vh;
    /* margin-top:80px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    background-color:"#F4EEEE";
}
.title{
    font-size: 35px;
}
.downarrow{
    position: relative;
   animation-name: mymove;
   animation-timing-function: ease-in;
   animation-duration: 2s;
   animation-direction: normal;
   animation-iteration-count: infinite;
}
@keyframes mymove {
    from{ top:0px}
    to{top:25px}
}
.intro_background{
    width:100vw;
    height:40vh;
    /* background-image: url("../../Assets/MyWebBackground.jpg"); */
    position: absolute;
    opacity: 0.2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.right-intro-text{
    text-align: justify;
    line-height: 35px;
}
.welcome{
    animation: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.intro_right{
   margin-top:50%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.intro_right_bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:70%;
}
.intro_btns{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    
}
.brand{
    font-family: cursive;
}
@media only screen and (min-width:768px){
    .intro_btns{
    /* background-color: red; */
    /* height:30vh; */
        margin-top:10%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* gap:30px; */
        align-items: center;
        width:99%;
    }
    .intro{
        width:100vw;
        height:60vh;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin-top: 100px;
    }
}
@media only screen and (max-width:400px){
    .title{
        font-size: 25px;
    }
    .tagline{
        font-size: 10px;
    }

    .intro{
        width:100vw;
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        /* word-spacing: 1px; */
        font-size: 15px;
    }
    
    .intro_btns{
        height:30vh;
        margin-top:10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap:30px;
        align-items: center;
        width:99%;
    }
    .into_social_btn{
        width:85%;
        height:5vh;
    }
}